<!DOCTYPE html>
<html>
<head>
  <title>Family Member Input</title>
</head>
<!-- use page.css from css folder -->
<body>
  <h1>Family Member Input</h1>
  <form action="/createfamily" method="post">
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" required><br><br>
    <label for="dob">Date of Birth:</label>
    <input type="date" id="dob" name="dob" required><br><br>
    <input type="submit" value="Submit">
  </form>

  <a href="/createRelationship"><button>Create Relationship</button></a>
</body>
</html>