<!DOCTYPE html>
<html>
<head>
  <title>Create Family Tree</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a class="active"  href="/createTree">Create Tree</a></li>
      <li><a href="/createRelationship">Create Relationship</a></li>
    </ul>
  </nav>
  <h1>Create Family Tree</h1>
  <form method="POST" action="/createTree">
    <div>
      <label for="treeName">Family Tree Name:</label>
      <input type="text" id="treeName" name="treeName" placeholder="Enter a unique name" required>
    </div>
    <button type="submit">Create Tree</button>
    <% if (typeof errorMessage !== 'undefined') { %>
      <p class="error"><%= errorMessage %></p>
    <% } %>
  </form>
</body>
</html>
