<!DOCTYPE html>
<html>
<head>
  <title>Family Members</title>
  <style>
    .member-block {
      display: inline-block;
      width: 200px;
      height: 100px;
      background-color: lightblue;
      margin: 10px;
      text-align: center;
      line-height: 100px;
      cursor: pointer;
    }
  </style>
</head>
<body>
  <h1>Family Members</h1>
  
  <% people.forEach(function(member) { %>
    <div class="member-block" data-member-id="<%= member.id %>" onclick="createRelationship('<%= member.id %>')">
      <%= member.name %>
    </div>
  <% }); %>
  
  <script>
    function createRelationship(memberId) {
      var selectedMembers = [];
      var blocks = document.getElementsByClassName("member-block");
      
      // Find the selected blocks and push their member IDs to the array
      for (var i = 0; i < blocks.length; i++) {
        if (blocks[i].classList.contains("selected")) {
          selectedMembers.push(blocks[i].getAttribute("data-member-id"));
        }
      }
      
      // Add or remove the "selected" class on click
      var selectedBlock = document.querySelector("[data-member-id='" + memberId + "']");
      if (selectedBlock.classList.contains("selected")) {
        selectedBlock.classList.remove("selected");
      } else {
        selectedBlock.classList.add("selected");
      }
      
      // If two members are selected, prompt for the relationship type
      if (selectedMembers.length === 2) {
        var relationshipType = prompt("Enter the relationship type:");
        if (relationshipType) {
          // Send a request to create the relationship with the selected members and relationship type
          var url = "/createRelationship?member1=" + selectedMembers[0] + "&member2=" + selectedMembers[1] + "&relationship=" + relationshipType;
          window.location.href = url;
        }
      }
    }
  </script>
</body>
</html>
