<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  
  <nav class="navbar">
    <ul>
      <li><a class="active" href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  
  
  <h1>Welcome to FamilyTreeBuilder</h1>
  <h1>Hello <%= name %></h1>
  <div>
    <h2>About Us</h2>
    <p>We are passionate about preserving and celebrating the rich tapestry of your family's
        history. We understand that every family has a unique story to tell, and we provide the tools and platform to
        help you uncover, document, and share your ancestral journey with generations to come.</p>
</div>

<div>
    <h2>What We Do</h2>
    <p>Our robust website enables you to:</p>
    <ul>
        <li><strong>Create Your Family Tree:</strong> Seamlessly construct and visualize your family's lineage with
            our user-friendly interface. Add relatives and date of birth to bring your ancestors to life.</li>
        <li><strong>Share Your Heritage:</strong> Showcase your beautifully crafted family tree with friends,
            relatives, and the world. Our customizable sharing options let you tell your family's story in a way that
            resonates with your unique perspective.</li>
    </ul>
</div>
<div>
  <h2>Our Vision</h2>
  <p>At FamilyTreeBuilder, we believe that understanding our roots strengthens our connection to the past, enriches
      our present, and provides a legacy for the future. Join us on this exciting journey of discovery and creation
      as we celebrate the essence of family and heritage.</p>
  <p>Start building your family tree with us today and let the branches of your history flourish for generations
      to come.</p>
</div>
    
<form action="/logout?_method=DELETE" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>



<!-- This is a test comment -->