<html>
<head>
  <title>Home</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  
  <nav class="navbar">
    <ul>
      <li><a class="active" href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  
  
  <h1>Welcome to the Home Page</h1>


  <h1>Hello <%= name %></h1>
    
<form action="/logout?_method=DELETE" method="post">
    <button type="submit">Logout</button>
</form>
</body>
</html>



<!-- This is a test comment -->