<!DOCTYPE html>
<html>
<head>
  <title>Invite</title>
</head>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <nav class="navbar">
    <ul>
      <li><a href="/">Home(&#x1F3E0;)</a></li>
      <li><a href="/profile">Your Trees (&#x1F332;)</a></li>
      <li><a href="/createTree">Create Tree</a></li>
      <!-- <li><a class="active" href="/createRelationship">Create Relationship</a></li> -->
    </ul>
  </nav>
  <h1>Inviting People To View <%= tree_name %></h1>
<form method="POST" action="/invite/<%= tree_name%>">
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required>
  </div><br>
  <button type="submit">Send Invitation</button>
  <% if (typeof errorMessage !== 'undefined') { %>
    <p class="error"><%= errorMessage %></p>
  <% } %>
  <% if (typeof successMessage !== 'undefined') { %>
    <p class="success"><%= successMessage %></p>
  <% } %>
</form>
</body>
</html>