<!DOCTYPE html>
<html>
<head>
  <title>Family Tree Builder</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="/css/styles.css">
</head>
<body>
  <h1>Family Tree Builder</h1>
  
  <form method="POST" action="/login">
    <div>
      <label for="email">Email:</label>
      <input type="text" id="email" name="email" required>
    </div>
    <div>
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required>
    </div>
    <div>
      <button type="submit">Login</button>
    </div><br>
    <p>Don't have an account? <a href="/register">Register</a></p>

    <% if (messages.error) { %>
      <div class="error">
        <%= messages.error %>
      </div>
    <% } %>
  </form>
  
</body>
</html>
