<html>
<head>
  <title>Your Trees</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 20px;
      background-color: #f5f5f5;
    }

    .navbar {
      background-color: #333;
      padding: 10px;
      color: #fff;
    }

    .navbar ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      display: flex;
      justify-content: center;
    }

    .navbar li {
      margin-right: 10px;
    }

    .navbar li a {
      display: inline-block;
      padding: 10px 20px;
      color: #fff;
      text-decoration: none;
    }

    .navbar li a.active {
      background-color: #ccc;
      border-radius: 5px;
    }

    .logout-form {
      display: inline-block;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-success">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home(&#x1F3E0;) </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">Your Trees (&#x1F332;)</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createTree">Create Tree <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/createRelationship">Create Relationship</a>
        </li>
      </ul>
    </div>
  </nav>
  <h1>Below are The Trees with their appropriate access</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Tree Name</th>
        <th>Access Level</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% for (let tree of coaches) { %>
        <tr>
          <td><%= tree.tree_name %></td>
          <td><%= tree.access_level %></td>
          <td>
            <% if (tree.access_level === 'view') { %>
              <a href="/tree/<%= tree.id %>/view" class="btn btn-primary">View</a>
            <% } else if (tree.access_level === 'edit') { %>
              <a href="/createRelationship" class="btn btn-warning">Edit</a>
              <a href="/tree/<%= tree.id %>/delete" class="btn btn-danger">Delete</a>
            <% } %>
          </td>
        </tr>
      <% } %>
    </tbody>
  </table>

 
</body>
</html>



<!-- This is a test comment -->